* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

/* =========================
   NAVBAR INICIAL (BLANCO)
========================= */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 800;
  text-transform: uppercase;
}

.bg-nav {
  background: white;
}

.navbar {
  padding: 25px 0;
  min-height: 100px;
  display: flex;
  align-items: center;

  transition:
    padding 0.3s ease,
    min-height 0.3s ease,
    box-shadow 0.3s ease,
    background 0.4s ease;
}

.navbar .container {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo-custom {
  width: 150px;
  transition: width 0.3s ease;
}

/* LINKS */

.navbar-nav .nav-link.nav-button {
  color: #c62e47;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link.nav-button:hover {
  color: #0318a2 !important;
}

/* =========================
   NAVBAR SCROLL (GLASS)
========================= */
.navbar-scrolled {
  padding: 6px 0;
  min-height: 55px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.85)
  );

  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

.navbar-scrolled .logo-custom {
  width: 110px;
}

/* =========================
   HERO
========================= */
.my-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/lubri-mejorado.png);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  padding-top: 80px;
}

/* =========================
   SECCIÓN 2
========================= */
.container-2 {
  margin-top: 1rem;
  background-color: grey;
  color: white;
  overflow: hidden;
}

.img-lubri-interior {
  width: 800px;
  max-width: 100%;
}

/* =========================
   CAROUSEL
========================= */
.carousel-item img {
  height: 450px;
  object-fit: cover;
}

/* =========================
   SLIDER MARCAS
========================= */
.slider-container {
  overflow: hidden;
  padding: 30px 0;
}

.slider-track {
  display: flex;
  width: calc(140px * 20);
  gap: 60px;
  animation: scroll 25s linear infinite;
}

.logo-item {
  width: 80px;
}

.logo-item img {
  width: 100%;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-140px * 10));
  }
}

/* =========================
   FOOTER PRO
========================= */
.footer-pro {
  /* background: linear-gradient(90deg, #010a44, #0a1b8d, #1b36d4); */
  background: linear-gradient(90deg, #1b36d4, #0a1b8d, #010a44);
  position: relative;
  overflow: hidden;
}

/* efecto glass */
.footer-pro::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.footer-pro .container {
  position: relative;
  z-index: 2;
}

/* LOGO */
.footer-logo {
  max-width: 180px;
}

/* TITULOS */
.footer-title::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #e30613;
  display: block;
  margin-top: 8px;
}

/* LINKS */
/* .footer-link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
} */

.footer-link {
  display: inline-block; /* clave para que el transform no rompa layout */
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease;
  transform-origin: left center; /* crece hacia la derecha */
}

/* .footer-link:hover {
  color: #e30613;
} */

.footer-link:hover {
  transform: scale(1.05); /* leve aumento */
  color: white; /* mantiene blanco */
  text-decoration: underline;
}

/* MAPA */
.map-container {
  overflow: hidden;
  border-radius: 15px;
}

.map-container iframe {
  width: 100%;
  height: 350px;
  border: 0;
}

/* =========================
   FOOTER BOTTOM 
========================= */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.footer-qr {
  max-width: 70px;
}

.footer-margin {
  margin-top: 2.25rem;
}

.top-link {
  display: block;
  padding: 1.5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.top-link:hover {
  color: rgba(255, 255, 255, 0.85);
  transform: scale(1.1);
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.whatsapp-float img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .navbar-nav .nav-link.nav-button {
    font-size: 1.25rem;
  }

  .navbar-collapse.show {
    transform: translateY(0);
  }

  .slider-track {
    width: calc(90px * 20);
    gap: 30px;
    animation: scroll-mobile 15s linear infinite;
  }

  .logo-item {
    width: 60px;
  }

  @keyframes scroll-mobile {
    to {
      transform: translateX(calc(-80px * 10));
    }
  }
  .footer-bottom {
    flex-direction: column;
  }

  .footer-qr {
    margin-top: 10px;
  }

  .footer-margin {
    margin-top: 0.25rem;
  }

  .footer-logo {
    display: none;
  }
}
