rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /servicios/{doc} {
      // ✅ Permite leer a cualquier usuario autenticado de tu app
      allow read: if request.auth != null; 

      // 🔒 Mantiene la escritura exclusiva para administradores
      allow write: if request.auth != null
        && request.auth.token.email != null
        && exists(
          /databases/$(database)/documents/admins/$(request.auth.token.email)
        );
    }

    match /admins/{doc} {
      allow read: if request.auth != null;
    }

    match /rate_limits/{doc} {
      allow read, write: if false;
    }

    match /rate_limits_reviews/{doc} {
      allow read, write: if false;
    }

    match /cache_resenas/{doc} {
      allow read, write: if false;
    }
    match /config/{doc} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email != null
        && exists(
          /databases/$(database)/documents/admins/$(request.auth.token.email)
        );
    }
  }
}