rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /servicios/{doc} {
      allow read: if true;   // solo lectura
      allow write: if false; // bloquea escritura desde cliente
    }

  }
}